<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container modal-dialog-centered vh-100 justify-content-center">

  <div class="card bg-light" style="width: auto;"> <!--style="width: 35%;"-->
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <form
        [formGroup]="regForm"
        (submit)="onSubmit()"
      >
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            formControlName="firstName"
            class="form-control"
            placeholder="First name"
            type="text">
        </div> <!-- form-group// -->
        <div
          *ngIf="
                (regForm.get('firstName')?.dirty ||
                regForm.get('firstName')?.touched) &&
                regForm.get('firstName')?.errors?.['required']
              "
          class="alert alert-danger">
          First name is required.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            formControlName="lastName"
            class="form-control"
            placeholder="Last name"
            type="text">
        </div> <!-- form-group// -->
        <div
          *ngIf="
                (regForm.get('lastName')?.dirty ||
                regForm.get('lastName')?.touched) &&
                regForm.get('lastName')?.errors?.['required']
              "
          class="alert alert-danger">
          Last name is required.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input
            formControlName="email"
            class="form-control"
            placeholder="Email address"
            type="email">
        </div> <!-- form-group// -->
        <div
          class="alert alert-danger"
          *ngIf="
                    (regForm.controls['email']?.dirty ||
                      regForm.controls['email']?.touched) &&
                   regForm.controls['email'].errors?.['required']
                  "
        >
          Email is required.
        </div>
        <div
          class="alert alert-warning"
          *ngIf="
                    regForm.controls['email']?.errors &&
                    regForm.controls['email']?.dirty &&
                    regForm.controls['email'].errors?.['email']
                  "
        >
          Email should contain "@" symbol.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-phone"></i> </span>
          </div>
          <span class="input-group-text" id="inputGroup-sizing-default">+370</span>
          <input
            formControlName="phone"
            class="form-control"
            placeholder="Phone number"
            type="number">
        </div> <!-- form-group// -->
        <div
          *ngIf="
                (regForm.get('phone')?.dirty ||
                regForm.get('phone')?.touched) &&
                regForm.get('phone')?.errors?.['required']
              "
          class="alert alert-danger">
          Phone number is required.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-venus-mars"></i> </span>
          </div>
          <select formControlName="gender" class="form-control">
            <option selected="" disabled> Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div> <!-- form-group end.// -->
        <div
          *ngIf="
                (regForm.get('gender')?.dirty ||
                regForm.get('gender')?.touched) &&
                regForm.get('gender')?.errors?.['required']
              "
          class="alert alert-danger">
          Gender is required.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-building"></i> </span>
          </div>
          <select formControlName="role" class="form-control">
            <option selected="" disabled> Select job type</option>
            <option value="Driver">Driver</option>
            <option value="Manager">Manager</option>
          </select>
        </div> <!-- form-group end.// -->
        <div
          *ngIf="
                (regForm.get('role')?.dirty ||
                regForm.get('role')?.touched) &&
                regForm.get('role')?.errors?.['required']
              "
          class="alert alert-danger">
          Job type is required.
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text width-span"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            formControlName="password"
            class="form-control"
            placeholder="Create password"
            type="password">
        </div> <!-- form-group// -->
        <div
          *ngIf="
                (regForm.get('password')?.dirty ||
                regForm.get('password')?.touched) &&
                regForm.get('password')?.errors?.['required']
              "
          class="alert alert-danger">
          Password is required.
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="regForm.invalid"> Create Account  </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="" routerLinkActive="disabled">Log In</a> </p>
      </form>
      <div
        *ngIf="
                error
              "
        class="alert alert-danger">
        Registration failed.
      </div>
    </article>
  </div> <!-- card.// -->

</div>
