<div style="margin-top: 100px;">
  <h1>Users list</h1>
</div>
<table class="table align-middle mb-0 bg-white table-hover">
  <thead class="bg-light">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Role</th>
    <th [hidden]="!authService.isSuperUser()">Password</th>
    <th [hidden]="!authService.isSuperUser()">Actions</th>
  </tr>
  </thead>
  <tbody>
  <!--  start -->
  <tr *ngFor="let user of usersList$ | async">
    <td>
      <div class="d-flex align-items-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          alt=""
          style="width: 45px; height: 45px"
          class="rounded-circle"
        />
        <div class="ms-3">
          <p class="fw-bold mb-1">{{ user.firstName }} {{ user.lastName }}</p>
          <p class="text-muted mb-0">#{{ user.id }}</p>
          <p class="text-muted mb-0">{{ user.email }}</p>
          <p class="text-muted mb-0"> +370{{ user.phone }}</p>
        </div>
      </div>
    </td>
    <td>
      <p class="fw-normal mb-1">{{user.gender}}</p>
    </td>
    <td>
      <p class="fw-normal mb-1">{{user.address}}</p>
    </td>
    <td>{{user.role}}</td>
    <td [hidden]="!authService.isSuperUser()">
      <p class="fw-normal mb-1">{{user.password}}</p>
    </td>
    <td [hidden]="!authService.isSuperUser()">
      <div style="margin-bottom: 10px;">
      <button type="button" class="btn btn-outline-info btn-sm btn-rounded" (click)="open(content,user)">
        Edit
      </button>
      </div>
      <div>
      <button type="button" class="btn btn-danger btn-sm btn-rounded" (click)="deleteUser(user.id)">
        Delete
      </button>
      </div>
    </td>
  </tr>
  <!--  end -->
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="d-flex align-items-center">
      <img
        src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
        alt=""
        style="width: 45px; height: 45px"
        class="rounded-circle"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">{{ this.user.firstName }} {{ this.user.lastName }}</p>
      </div>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
<form
  [formGroup]="updateForm"
  (submit)="onSubmit()">
  <div class="modal-body">

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span d-flex"> <i class="fa-solid fa-hashtag"></i> </span>
      </div>
      <input disabled
        class="form-control"
        placeholder="Id"
        [value]="this.user.id"
        type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-user"></i> </span>
      </div>
      <input
        formControlName="firstName"
        class="form-control"
        placeholder="First name"
        type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-user"></i> </span>
      </div>
      <input
        formControlName="lastName"
        class="form-control"
        placeholder="Last name"
        type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-phone"></i> </span>
      </div>
      <span class="input-group-text" id="inputGroup-sizing-default">+370</span>
      <input
        formControlName="phone"
        class="form-control"
        placeholder="Phone number"
        type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-venus-mars"></i> </span>
      </div>
      <select class="form-control" formControlName="gender">
        <option selected="" disabled> Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div> <!-- form-group end.// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-building"></i> </span>
      </div>
      <select class="form-control" formControlName="role">
        <option selected="" disabled> Select job type</option>
        <option value="Driver">Driver</option>
        <option value="Manager">Manager</option>
        <option value="Admin">**Admin**</option>
      </select>
    </div> <!-- form-group end.// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-lock"></i> </span>
      </div>
      <input
        formControlName="password"
        class="form-control"
        placeholder="Create password"
        type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa fa-envelope"></i> </span>
      </div>
      <input
        formControlName="email"
        class="form-control"
        placeholder="Email address"
        type="email">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text width-span"> <i class="fa-solid fa-location-dot"></i> </span>
      </div>
      <input
        formControlName="address"
        class="form-control"
        placeholder="Address"
        type="email">
    </div> <!-- form-group// -->

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="modal.close('Delete reservation')">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Dismiss')">Cancel</button>
  </div>
</form>
</ng-template>
